name: Deploy to Cloud Run on Merge

on:
  push:
    branches: [ master ]

jobs:
    deploy:
        name: Deploy to Cloud Run
        runs-on: ubuntu-latest
        env:
          IMAGE_NAME: gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_APP_NAME }}
        steps:

        - name: Checkout repository
          uses: actions/checkout@v2

        - id: 'auth'
          uses: 'google-github-actions/auth@v0'
          with:
            credentials_json: '${{ secrets.GCP_CREDENTIALS }}'

        - name: 'Set up Cloud SDK'
          uses: 'google-github-actions/setup-gcloud@v0'

        - name: Configure Docker
          run: gcloud auth configure-docker --quiet

        - name: 'Output default GCP credentials to file'
          run: 'echo "$key" > key.json'
          shell: bash
          env:
            key: ${{ secrets.GCP_CREDENTIALS }}

        - name: Build Docker image
          run: docker build . -t $IMAGE_NAME

        - name: Test Docker image
          run: docker run -e NODE_ENV=buildtest $IMAGE_NAME

        - name: Push Docker image
          run: docker push $IMAGE_NAME

        - name: Deploy Docker image
          run: gcloud run deploy ${{ secrets.GCP_APP_NAME }} --image $IMAGE_NAME --set-env-vars "^@^NODE_ENV=production" --region asia-southeast1 --allow-unauthenticated --platform managed